<footer>
    Site criado por Max Cleiton | Projeto 1 - Módulo 2 | BlueEdTech<br>
    // <a href="https://www.linkedin.com/in/maxcleiton/" target="_blank" rel="noopener noreferrer">Meu Linkedin</a>
    // <a href="https://github.com/maxxcleiton" target="_blank" rel="noopener noreferrer">Meu GitHub</a>
    // <a href="https://blueedtech.com.br/" target="_blank" rel="noopener noreferrer">Conheça a Blue!</a>
</p>
</footer>