<section id="cadastro">
    <h2>Cadastre um Pokémon!</h2>

    <form action="/cadastro" method="post">

        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" placeholder="Nome do pokémon" required>
        </div>

        <div>
            <label for="tipo">Tipo: </label>
            <input type="text" name="tipo" id="tipo" placeholder="Tipo do pokémon" required>
        </div>

        <div>
            <label for="imagem">Imagem: </label>
            <input type="text" name="imagem" id="imagem" placeholder="Coloque o link da imagem do Pokémon" required>
        </div>
        <div>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" id="descricao" placeholder="Descrição do pokémon" required>
        </div>
        <div>
            <label for="altura">Altura: </label>
            <input type="text" name="altura" id="altura" placeholder="(m)" required>
        </div>
        <div>
            <label for="peso">Peso: </label>
            <input type="text" name="peso" id="peso" placeholder="(kg)" required>
        </div>
        <div>
            <label for="categoria">Categoria: </label>
            <input type="text" name="categoria" id="categoria" placeholder="Categoria " required>
        </div>
        <div>
            <label for="habilidade">Habilidade: </label>
            <input type="text" name="habilidade" id="habilidade" placeholder="Habilidade" required>
        </div>

        <button type="submit">Cadastrar Pokémon</button>
    </form>
</section>