<section id="cadastro">
    <h2>Cadastre um Pokémon!</h2>

    <form action="/subscription" method="post">

        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" placeholder="Qual o nome do Pokémon?" required>
        </div>

        <div>
            <label for="tipo">Tipo: </label>
            <input type="tipo" name="tipo" id="tipo" placeholder="Qual o tipo do Pokémon?" required>
        </div>

        <div>
            <label for="imagem">Imagem: </label>
            <input type="imagem" name="imagem" id="imagem" placeholder="Coloque o link da imagem do Pokémon" required>
        </div>
        <div>
            <label for="descricao">Descrição: </label>
            <input type="descricao" name="descricao" id="descricao" placeholder="Descrição do Pokemon" required>
        </div>
        <div>
            <label for="altura">Altura: </label>
            <input type="altura" name="altura" id="altura" placeholder="Altura" required>
        </div>
        <div>
            <label for="peso">Peso: </label>
            <input type="peso" name="peso" id="peso" placeholder="Peso" required>
        </div>
        <div>
            <label for="categoria">Categoria: </label>
            <input type="categoria" name="categoria" id="categoria" placeholder="Categoria " required>
        </div>
        <div>
            <label for="habilidade">Habilidade: </label>
            <input type="habilidade" name="habilidade" id="habilidade" placeholder="Habilidade" required>
        </div>

        <button type="submit">Cadastrar Pokémon</button>
    </form>
</section>