<header>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="Logo da Pokedex" />

    </div>

    <nav>
        <ul>
            <a href="/"> <li> Home </li> </a>
            <a href="/cadastro"> <li> Cadastrar um novo Pokémon </li> </a>
        </ul>
    </nav>
</header>