* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    height: 10vh;
    background-color: red;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
    height: 5rem;
}

header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    height: 80%;
}

footer {
  background-color: black;
  color: white;
  padding: 2vh;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}

section#pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-top: 2vh;
}

a {
  text-decoration: none;
  outline: none;
}

article.card{
    height: 300px;
    width: 200px;
    /* border: 1px solid red; */
}

article div.card_image{
    height: 65%;
    /* border: 1px solid greenyellow; */
}

.card_image img {
  height: 100%;
}

article.card div.nomes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
    text-decoration: none;
}

article#content a#cadastro:hover {
  background-color: #fff;
  color: rgb(68, 105, 255);
  border: 0.2rem solid rgb(68, 105, 255);
}

section#cadastro {
  background-color: rgb(218, 243, 252);
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section#cadastro h2 {
  color: rgb(253, 93, 93);
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  width: 100%;
}

section#cadastro form {
  width: 50%;
}

section#cadastro form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
}

section#cadastro form div label {
  font-size: 1.3rem;
}

section#cadastro form button {
  border: 1px solid #3359ec;
  background-color: #fff;
  color: #3359ec;
  padding: 1rem;
  font-size: 0.8vw;
  font-weight: 600;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 40%;
}

section#cadastro form button:hover {
  background-color: #3359ec;
  color: #fff;
  transform: scale(1.1);
}

table {
  width: 30em;
  text-align: center;
}

table td {
  border: 0.1rem solid red;
  padding: 0.2rem;
}

table td:nth-child(1) {
  background-color: tomato;
  color: aliceblue;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 30%;
}
.flex-item img {
  max-width: 100%;
  min-width: 30%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* .menu-flex {
  display: flex;
  flex: 50%;
} */